* {
    margin: 0; /*Метод отвечает за внешний отступ объекта
                Мы его обнулили для всех объектов*/
    padding: 0; /*Метод отвечает за внутренный объступ
                Мы его обулили для всех объектов*/
}

body {
    background-color: #07db8d; /*Задаёт цвет заднему фону страницы*/
}

h1 {

    font-size: 70px; /*Увеличивает размер текста*/
    margin: 120px; /*Мы добавили 740ac4внешний отступ*/
    padding: 70px; /*Мы добавили внутренний отступ*/
    color: #b70ff5; /*Задаёт цвет тексту*/
    text-align:center; /*Задаёт ориентацию текста*/
}

p {
    border: 5px solid; /*Создали рамку, задали толщину, и сделали её сплошной*/
    border-radius: 27px; /*Закруглили углы у рамки*/
    border-color: #940ce8;

    font-size: 35px; /*Увеличивает размер текста*/
    margin: 105px; /*Мы добавили внешний отступ*/
    padding: 55px; /*Мы добавили внутренний отступ*/
    background-color: #04d9ff; /*Задаёт цвет заднему фону*/
    color: #fc17e5; /*Задаёт цвет тексту*/
    text-align:center; /*Задаёт ориентацию текста*/
}

p:hover{
    scale: 1;
}